
/* Your CSS Code here. */
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
}
img{
margin-top: 20px;
    width: 300px;
    border-radius: 10px;


}